/*---------------------Tableau-------------------*/

table{
	margin-top: 30px;
	border-collapse: collapse;
	margin: 0 10px;
}

thead{
	text-align: left;
	background-color: #C4E1C5;
}

th, td{
	border: 2px solid white;
}

td{
	padding: 5px;
}

table ul{
	padding: 0;
	margin: 0;
}

table li{
	list-style-type: none;
}

.pair{
	background-color: #acdee0;
}

.impair{
	background-color: #FCDEDE;
}