body{
    text-align: center;
}

.uneimage{
    display: grid;
    grid-template-columns: 350px 350px;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}
.matcha{
    margin-top: 50px;
}
.uneimage img{
    width: 350PX;
    height: 350PX;
}

.uneimage .nahess{
    border: 2px solid #f7bcbc;
    border-radius: 15px;
}
.phrasedekip{
    margin-top: 30px;
    gap: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.phrasedekip li{
    margin-bottom: 15px;
}

.grotitre{
	text-shadow: 3px 3px #f9c9c9;
	text-transform: uppercase;
	background-color: #fde1c6;
	margin-top: 0;
	padding-top: 10px;
}
.japon{
    margin-top: 70px;
    background-color: #fde1c6;
}

.box{
    padding-bottom: 0;
}

/*--------Media-Queries--------------*/

@media (max-width: 426px){

  .uneimage img{
    width: 150px;
    height: 150px;
  }

  .uneimage{
    grid-template-columns: 150px 150px;
  }
}

@media (max-width: 321px){

  .uneimage img{
    width: 120px;
    height: 120px;
  }

  .uneimage{
    grid-template-columns: 120px 120px;
  }
}