/*-----------------------------ARTICLES----------------------------*/


.articles{
	margin: 20px;
}

.articles article{
	display: flex;
	flex-direction: column;
	background-color: #d6cdcd;
	width: 100%;
	margin: 15px 0;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/*Infos commande*/

.infos-commande{
	background-color: #FCDEDE;
	display: flex;
	justify-content: space-around;
	width: 100%;
	border-bottom: 1px solid black;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

/*Infos article*/

.infos-article{
	display: flex;
	flex-direction: column;
	padding: 15px;
}

.vue_article{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.statut p[name="statut"]{
	font-size: 15px;
	margin-bottom: 10px;
}

.statut p{
	margin: 0;
}

.infos-article img{
	width: 130px;
	height: 130px;
	border: 1px solid pink;
	border-radius: 10px;
}

.boutons{
	display: flex;
	flex-direction: column;
}

.boutons button{
	border: none;
	border-radius: 5px;
	padding: 10px;
	margin: 5px 0;
}

/*-------------------------Style général------------------------------*/

.vert{
	color: green;
}