/*----------------Blocs-------------------*/

form{
	display: flex;
	flex-direction: column;
	padding: 15px;
	width: 50%;
}

.contact{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f4dfcb;
	border-radius: 10px;
	width: 90%;
}

.msg_contact{
	display: flex;
	flex-direction: column;
	padding: 15px;
	width: 50%;
	align-items: center;
}

.msg_contact img{
	width: 100px;
	height: 100px;
}

.fleche{
	display: none;
}

.box{
	align-items: center;
}

/*----------------Titre contact et séparation-------------------*/

.contact h1{
	display: block;
}

.vertical_line{
	border: 1px solid black;
	height: 100vh;
	margin: 0 10px;
	height: 85%;
}

/*----------------Formulaire-------------------*/

input{
	padding: 10px;
	margin: 10px 0;
	border: 2px solid #edd0b6;
	border-radius: 10px;
}

textarea{
	height: 120px;
	resize: none;
	margin: 10px 0;
	border-radius: 10px;
	border: 2px solid #edd0b6;
}

.invisible{
	display: none;
}

select{
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border: 2px solid #edd0b6;
	border-radius: 10px;
}

button{
	border-radius: 10px;
	border: 2px solid #edd0b6;
	padding: 10px;
}

/*---------------------------Media-Queries------------------------------*/

@media (max-width: 426px){
	.contact{
		flex-direction: column;
		margin-bottom: 30px;
	}

	.fleche{
		display: block;
	}

	.doigt{
		display: none;
	}

	form{
		width: 90%;
	}

	.msg_contact{
		width: 90%;
	}

	.vertical_line{
		width: 90%;
	}
}