
main {
  text-align: center;
}
body {
  background-color: goldenrod;
}
hr {
  height: 3px;
  margin: 100px;
  background-color: black;
  border: none;
}
.first_arc {
  text-align: center;
}

.first_p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgba(0, 0, 0, 0.598);
  margin-top: 60px;
}

.imageb {
  display: grid;
  justify-content: center;
  grid-template-columns: 256px 256px;
  gap: 20px;
}

.imageb img{
  width: 200px;
  height: 200px;
}

.imageb .imagine {
  border: 2px solid white;
  border-radius: 15px;
  
}

h2 {
  color:#fcafaf;
}


.para {
  display: flex;
  flex-direction: column;
}
.skunk h2{
    margin-top: 50px;
}
.skunk li {
  list-style: none;
  color: rgba(2, 87, 2, 0.881);
}

.skunk ul{
  padding: 0;
  margin: 0;
}

.skunk {
  margin-top: 20px;
}

.vid p{
  margin-top: 30px;
}

.second_arc h2{
      margin-bottom: 40px;
}

.yamaha{
  height: 350px;
  width: 100%;
}

/*Video*/

video{
  border-radius: 10px;
  border: 2px solid #C4E1C5;
}

.bye h2{
  color: white;
}


/*--------Media-Queries--------------*/

@media (max-width: 426px){
  video{
    width: 300px;
  }

  hr{
    margin: 30px;
  }

  .yamaha{
    height: 170px;
  }

  .imageb img{
    width: 150px;
    height: 150px;
  }

  .imageb{
    grid-template-columns: 150px 150px;
  }
}

@media (max-width: 321px){
  video{
    width: 230px;
  }

  .imageb img{
    width: 120px;
    height: 120px;
  }

  .imageb{
    grid-template-columns: 120px 120px;
  }
}