body{
	margin: 0;
	padding: 0;
}

header{
	background-color: #FFE6E6;
	display: flex;
	justify-content: space-between;
	height: 10vh;
}

nav{
	display: flex;
	position: fixed;
	background-color: #9DBC98;
	writing-mode: vertical-lr;
	width: 10%;
	height: 90vh;
	justify-content: center;
	align-items: center;
}

nav a{
	padding: 10px;
}

